<div class="addBorder">
      <h1 class="card-name">{{this.companyname}}</h1>
      <div class='content'>
            <br/>
            <p>Founder: {{this.founder}}</p>
            <p>Website: {{this.website}}</p>
            <p>Company Age: {{this.age}}</p>
            <p>Number of Employees: {{this.companysize}}</p>
            <p>Location: {{this.location}}</p>
            <p>Description: {{this.description}}</p>
            <p>Industry: {{this.industry}}</p>
            <br/>
      </div>
</div>
<a href="/delete/{{this.id}}">Delete Business</a>
